In [8]:
from datetime import datetime
import pandas as pd
import json

read = pd.read_csv('log_read.log', sep=',', header=None, names = ["date", "heure", "durée", "offset", "cur_bytes", "bytes", "cluster"])
temps = read["durée"].str.split(" : ",  n = 0, expand = True)
read["durée"]= temps[1]

offset = read["offset"].str.split(" : ",  n = 0, expand = True)
read["offset"]= offset[1]

cur_bytes = read["cur_bytes"].str.split(" : ",  n = 0, expand = True)
read["cur_bytes"]= cur_bytes[1] 

byte = read["bytes"].str.split(" : ",  n = 0, expand = True)
read["bytes"]= byte[1]

read["offset"] = read["offset"].astype(int) 
read["cluster"] = (read["offset"] // 65536)*65536

debut = read["date"][0].split("-") + read["heure"][0].split(":")
debut = datetime(int(debut[0]), int(debut[1]), int(debut[2]), int(debut[3]), int(debut[4]), int(debut[5]))

fin = read["date"][len(read["date"])-1].split("-") + read["heure"][len(read["date"])-1].split(":")
fin = datetime(int(fin[0]), int(fin[1]), int(fin[2]), int(fin[3]), int(fin[4]), int(fin[5]))

difference = (fin - debut).seconds

read["cur_bytes"] = read["cur_bytes"].astype(int) 
read["bytes"] = read["bytes"].astype(int) 
read["durée"] = read["durée"].astype(float) 

new_read = read.groupby("cluster").sum()

new_read["nb_occurence"] = ( read.groupby("cluster").count() )["durée"]
new_read = new_read.drop("offset", axis=1)

new_read = new_read.reset_index()
new_read["read_intensity(ops)"] = new_read["nb_occurence"]/difference
new_read["débit(o/s)"] = new_read["cur_bytes"]/new_read["durée"]
#new_read = new_read.T
new_read.to_json('read_log.json', orient='records')

In [6]:
from datetime import datetime
import pandas as pd

In [7]:
read = pd.read_csv('log_read.log', sep=',', header=None, names = ["date", "heure", "durée", "offset", "cur_bytes", "bytes", "cluster"])
read

,date,heure,durée,offset,cur_bytes,bytes,cluster
0,2021-1-30,13:23:33,temps : 0.001049,offset : 0,cur_bytes : 512,bytes : 512,
1,2021-1-30,13:23:34,temps : 0.000048,offset : 0,cur_bytes : 512,bytes : 512,
2,2021-1-30,13:23:34,temps : 0.051397,offset : 1048576,cur_bytes : 512,bytes : 512,
3,2021-1-30,13:23:34,temps : 0.004289,offset : 1049088,cur_bytes : 52736,bytes : 52736,
4,2021-1-30,13:23:34,temps : 0.025244,offset : 0,cur_bytes : 32256,bytes : 32256,
...,...,...,...,...,...,...,...
101330,2021-1-31,13-21-25,temps : 0.000141,offset : 9700532224,cur_bytes : 4096,bytes : 4096,
101331,2021-1-31,13-21-25,temps : 0.000281,offset : 9700532224,cur_bytes : 4096,bytes : 4096,
101332,2021-1-31,13-21-25,temps : 0.000379,offset : 9700532224,cur_bytes : 4096,bytes : 4096,
101333,2021-1-31,13-21-25,temps : 0.000491,offset : 9700532224,cur_bytes : 4096,bytes : 4096,
101334,2021-1-31,13-21-25,temps : 0.000572,offset : 9700532224,cur_bytes : 4096,bytes : 4096,

In [8]:
temps = read["durée"].str.split(" : ",  n = 0, expand = True)
read["durée"]= temps[1]

offset = read["offset"].str.split(" : ",  n = 0, expand = True)
read["offset"]= offset[1]

cur_bytes = read["cur_bytes"].str.split(" : ",  n = 0, expand = True)
read["cur_bytes"]= cur_bytes[1] 

byte = read["bytes"].str.split(" : ",  n = 0, expand = True)
read["bytes"]= byte[1]

read["offset"] = read["offset"].astype(int) 
read["cluster"] = (read["offset"] // 65536)*65536

read

,date,heure,durée,offset,cur_bytes,bytes,cluster
0,2021-1-30,13:23:33,0.001049,0,512,512,0
1,2021-1-30,13:23:34,0.000048,0,512,512,0
2,2021-1-30,13:23:34,0.051397,1048576,512,512,1048576
3,2021-1-30,13:23:34,0.004289,1049088,52736,52736,1048576
4,2021-1-30,13:23:34,0.025244,0,32256,32256,0
...,...,...,...,...,...,...,...
101330,2021-1-31,13-21-25,0.000141,9700532224,4096,4096,9700507648
101331,2021-1-31,13-21-25,0.000281,9700532224,4096,4096,9700507648
101332,2021-1-31,13-21-25,0.000379,9700532224,4096,4096,9700507648
101333,2021-1-31,13-21-25,0.000491,9700532224,4096,4096,9700507648
101334,2021-1-31,13-21-25,0.000572,9700532224,4096,4096,9700507648

In [17]:
fin = read["date"][len(read["date"])-1].split("-") + read["heure"][len(read["date"])-1].split(":")
read["heure"][1].split(":")

#fin = datetime(int(fin[0]), int(fin[1]), int(fin[2]), int(fin[3]), int(fin[4]), int(fin[5]))

[' 13', '23', '34 ']

In [254]:
debut = read["date"][0].split("-") + read["heure"][0].split(":")
debut = datetime(int(debut[0]), int(debut[1]), int(debut[2]), int(debut[3]), int(debut[4]), int(debut[5]))

fin = read["date"][len(read["date"])-1].split("-") + read["heure"][len(read["date"])-1].split(":")
fin = datetime(int(fin[0]), int(fin[1]), int(fin[2]), int(fin[3]), int(fin[4]), int(fin[5]))

#debut = datetime.strptime(debut, '%Y-%m-%d %H:%M:%S')
#fin = datetime.strptime(fin, '%Y-%m-%d %H:%M:%S')

difference = (fin - debut).seconds
print(difference)

2748

In [255]:
#data.to_csv(r'pandas.txt', header=None, index=None, sep=' ', mode='a')

In [272]:
read["cur_bytes"] = read["cur_bytes"].astype(int) 
read["bytes"] = read["bytes"].astype(int) 
read["durée"] = read["durée"].astype(float) 

new_read = read.groupby("cluster").sum()

new_read["nb_occurence"] = ( read.groupby("cluster").count() )["durée"]
new_read = new_read.drop("offset", axis=1)

new_read = new_read.reset_index()
new_read

          cluster     durée  cur_bytes    bytes  nb_occurence
0               0  0.058267     633344   633344            55
1           65536  0.001722     262144   262144             8
2          131072  0.002566     524288   524288             8
3          262144  0.003184    1048576  1048576             8
4          524288  0.000662      16384    16384             4
...           ...       ...        ...      ...           ...
3973  17179541504  0.012786     163840   163840             8
3974  17179607040  0.015622     507904   507904            12
3975  17179672576  0.037258      16384    16384             4
3976  17179738112  0.004152     262144   262144             8
3977  17179803648  0.082766     303104   303104            34

[3978 rows x 5 columns]

In [250]:
new_read["read_intensity(ops)"] = new_read["nb_occurence"]/difference
new_read["débit(o/s)"] = new_read["cur_bytes"]/new_read["durée"]
new_read

,durée,cur_bytes,bytes,nb_occurence,read_intensity(ops),débit(o/s)
cluster,,,,,,
0,0.058267,633344,633344,55,0.020015,1.086969e+07
65536,0.001722,262144,262144,8,0.002911,1.522323e+08
131072,0.002566,524288,524288,8,0.002911,2.043211e+08
262144,0.003184,1048576,1048576,8,0.002911,3.293266e+08
524288,0.000662,16384,16384,4,0.001456,2.474924e+07
...,...,...,...,...,...,...
17179541504,0.012786,163840,163840,8,0.002911,1.281402e+07
17179607040,0.015622,507904,507904,12,0.004367,3.251210e+07
17179672576,0.037258,16384,16384,4,0.001456,4.397445e+05
17179738112,0.004152,262144,262144,8,0.002911,6.313680e+07
17179803648,0.082766,303104,303104,34,0.012373,3.662180e+06

# Ecriture dans le disque

In [20]:
write = pd.read_csv('log_write.log', sep=',', header=None, names = ["date", "heure", "durée", "offset", "cur_bytes", "bytes", "cluster"])
temps = write["durée"].str.split(" : ",  n = 0, expand = True)
write["durée"]= temps[1]

offset = write["offset"].str.split(" : ",  n = 0, expand = True)
write["offset"]= offset[1]

cur_bytes = write["cur_bytes"].str.split(" : ",  n = 0, expand = True)
write["cur_bytes"]= cur_bytes[1] 

byte = write["bytes"].str.split(" : ",  n = 0, expand = True)
write["bytes"]= byte[1]

write["offset"] = write["offset"].astype(int) 
write["cluster"] = (write["offset"] // 65536)*65536

debut = write["date"][0].split("-") + write["heure"][0].split(":")
debut = datetime(int(debut[0]), int(debut[1]), int(debut[2]), int(debut[3]), int(debut[4]), int(debut[5]))

fin = write["date"][len(write["date"])-1].split("-") + write["heure"][len(write["date"])-1].split(":")
fin = datetime(int(fin[0]), int(fin[1]), int(fin[2]), int(fin[3]), int(fin[4]), int(fin[5]))

difference = (fin - debut).seconds

write["cur_bytes"] = write["cur_bytes"].astype(int) 
write["bytes"] = write["bytes"].astype(int) 
write["durée"] = write["durée"].astype(float) 

new_write = write.groupby("cluster").sum()

new_write["nb_occurence"] = ( write.groupby("cluster").count() )["durée"]
new_write = new_write.drop("offset", axis=1)

new_write = new_write.reset_index()

new_write["read_intensity(ops)"] = new_write["nb_occurence"]/difference
new_write["débit(o/s)"] = new_write["cur_bytes"]/new_write["durée"]

new_write = new_write.T
new_write.to_json("write_log.json")

In [265]:
write = pd.read_csv('log_write.log', sep=',', header=None, names = ["date", "heure", "durée", "offset", "cur_bytes", "bytes", "cluster"])
write

,date,heure,durée,offset,cur_bytes,bytes,cluster
0,2021-1-30,13:23:35,temps : 0.000204,offset : 182460416,cur_bytes : 1024,bytes : 1024,
1,2021-1-30,13:23:42,temps : 0.003164,offset : 1076887552,cur_bytes : 12288,bytes : 12288,
2,2021-1-30,13:23:42,temps : 0.003304,offset : 1081126912,cur_bytes : 4096,bytes : 4096,
3,2021-1-30,13:23:42,temps : 0.003330,offset : 3224506368,cur_bytes : 4096,bytes : 4096,
4,2021-1-30,13:23:42,temps : 0.003399,offset : 3224371200,cur_bytes : 8192,bytes : 8192,
...,...,...,...,...,...,...,...
127332,2021-1-30,17:1:42,temps : 0.000471,offset : 11816755200,cur_bytes : 4096,bytes : 4096,
127333,2021-1-30,17:1:42,temps : 0.000815,offset : 1076887552,cur_bytes : 4096,bytes : 4096,
127334,2021-1-30,17:5:32,temps : 0.003468,offset : 12049186816,cur_bytes : 4096,bytes : 4096,
127335,2021-1-30,17:5:32,temps : 0.005278,offset : 7690080256,cur_bytes : 8192,bytes : 8192,
127336,2021-1-30,17:5:33,temps : 0.000250,offset : 7690088448,cur_bytes : 4096,bytes : 4096,

In [266]:
temps = write["durée"].str.split(" : ",  n = 0, expand = True)
write["durée"]= temps[1]

offset = write["offset"].str.split(" : ",  n = 0, expand = True)
write["offset"]= offset[1]

cur_bytes = write["cur_bytes"].str.split(" : ",  n = 0, expand = True)
write["cur_bytes"]= cur_bytes[1] 

byte = write["bytes"].str.split(" : ",  n = 0, expand = True)
write["bytes"]= byte[1]

write["offset"] = write["offset"].astype(int) 
write["cluster"] = (write["offset"] // 65536)*65536

write

,date,heure,durée,offset,cur_bytes,bytes,cluster
0,2021-1-30,13:23:35,0.000204,182460416,1024,1024,182452224
1,2021-1-30,13:23:42,0.003164,1076887552,12288,12288,1076887552
2,2021-1-30,13:23:42,0.003304,1081126912,4096,4096,1081081856
3,2021-1-30,13:23:42,0.003330,3224506368,4096,4096,3224502272
4,2021-1-30,13:23:42,0.003399,3224371200,8192,8192,3224371200
...,...,...,...,...,...,...,...
127332,2021-1-30,17:1:42,0.000471,11816755200,4096,4096,11816730624
127333,2021-1-30,17:1:42,0.000815,1076887552,4096,4096,1076887552
127334,2021-1-30,17:5:32,0.003468,12049186816,4096,4096,12049186816
127335,2021-1-30,17:5:32,0.005278,7690080256,8192,8192,7690059776
127336,2021-1-30,17:5:33,0.000250,7690088448,4096,4096,7690059776

In [269]:
debut = write["date"][0].split("-") + write["heure"][0].split(":")
debut = datetime(int(debut[0]), int(debut[1]), int(debut[2]), int(debut[3]), int(debut[4]), int(debut[5]))

fin = write["date"][len(write["date"])-1].split("-") + write["heure"][len(write["date"])-1].split(":")
fin = datetime(int(fin[0]), int(fin[1]), int(fin[2]), int(fin[3]), int(fin[4]), int(fin[5]))

#debut = datetime.strptime(debut, '%Y-%m-%d %H:%M:%S')
#fin = datetime.strptime(fin, '%Y-%m-%d %H:%M:%S')

difference = (fin - debut).seconds
print(difference)

13318

In [270]:
write["cur_bytes"] = write["cur_bytes"].astype(int) 
write["bytes"] = write["bytes"].astype(int) 
write["durée"] = write["durée"].astype(float) 

new_write = write.groupby("cluster").sum()

new_write["nb_occurence"] = ( write.groupby("cluster").count() )["durée"]
new_write = new_write.drop("offset", axis=1)

new_write = new_write.reset_index()
new_write

           cluster     durée  cur_bytes  bytes  nb_occurence
0          2097152  0.000641      20480  20480             3
1          2621440  0.000359       8192   8192             2
2          2752512  0.000418       8192   8192             2
3        180355072  0.000308      12288  12288             3
4        182452224  0.000204       1024   1024             1
...            ...       ...        ...    ...           ...
17424  14000259072  0.000942       4096   4096             1
17425  14096334848  0.000984      20480  20480             5
17426  14099873792  0.000414       8192   8192             2
17427  14100004864  0.000135       4096   4096             1
17428  14100135936  0.000134       4096   4096             1

[17429 rows x 5 columns]

In [262]:
new_write["read_intensity(ops)"] = new_write["nb_occurence"]/difference
new_write["débit(o/s)"] = new_write["cur_bytes"]/new_write["durée"]
new_write

,durée,cur_bytes,bytes,nb_occurence,read_intensity(ops),débit(o/s)
cluster,,,,,,
2097152,0.000641,20480,20480,3,0.000225,3.195008e+07
2621440,0.000359,8192,8192,2,0.000150,2.281894e+07
2752512,0.000418,8192,8192,2,0.000150,1.959809e+07
180355072,0.000308,12288,12288,3,0.000225,3.989610e+07
182452224,0.000204,1024,1024,1,0.000075,5.019608e+06
...,...,...,...,...,...,...
14000259072,0.000942,4096,4096,1,0.000075,4.348195e+06
14096334848,0.000984,20480,20480,5,0.000375,2.081301e+07
14099873792,0.000414,8192,8192,2,0.000150,1.978744e+07
14100004864,0.000135,4096,4096,1,0.000075,3.034074e+07
14100135936,0.000134,4096,4096,1,0.000075,3.056716e+07

In [263]:
new_write.to_csv(r'panda_write.txt', header=None, index=None, sep=' ', mode='a')

In [276]:
new_write = new_write.T
new_write

,0,1,2,3,4,5,6,7,8,9,...,17419,17420,17421,17422,17423,17424,17425,17426,17427,17428
index,0.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00,6.000000e+00,7.000000e+00,8.000000e+00,9.000000e+00,...,1.741900e+04,1.742000e+04,1.742100e+04,1.742200e+04,1.742300e+04,1.742400e+04,1.742500e+04,1.742600e+04,1.742700e+04,1.742800e+04
cluster,2.097152e+06,2.621440e+06,2.752512e+06,1.803551e+08,1.824522e+08,5.389681e+08,1.076888e+09,1.081082e+09,1.081147e+09,1.081213e+09,...,1.399547e+10,1.399554e+10,1.399993e+10,1.400013e+10,1.400019e+10,1.400026e+10,1.409633e+10,1.409987e+10,1.410000e+10,1.410014e+10
durée,6.410000e-04,3.590000e-04,4.180000e-04,3.080000e-04,2.040000e-04,2.546000e-02,4.569190e-01,6.608100e-02,1.095000e-03,6.586100e-02,...,2.100000e-02,1.396300e-02,4.644000e-03,7.330000e-04,5.857000e-03,9.420000e-04,9.840000e-04,4.140000e-04,1.350000e-04,1.340000e-04
cur_bytes,2.048000e+04,8.192000e+03,8.192000e+03,1.228800e+04,1.024000e+03,6.144000e+04,2.375680e+05,7.782400e+04,4.096000e+03,5.734400e+04,...,5.324800e+04,4.915200e+04,3.276800e+04,2.457600e+04,5.734400e+04,4.096000e+03,2.048000e+04,8.192000e+03,4.096000e+03,4.096000e+03
bytes,2.048000e+04,8.192000e+03,8.192000e+03,1.228800e+04,1.024000e+03,6.144000e+04,2.375680e+05,7.782400e+04,4.096000e+03,5.734400e+04,...,5.324800e+04,4.915200e+04,3.276800e+04,2.457600e+04,5.734400e+04,4.096000e+03,2.048000e+04,8.192000e+03,4.096000e+03,4.096000e+03
nb_occurence,3.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,7.000000e+00,4.300000e+01,1.600000e+01,1.000000e+00,1.000000e+01,...,1.300000e+01,9.000000e+00,5.000000e+00,2.000000e+00,8.000000e+00,1.000000e+00,5.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00

In [278]:
new_write.to_json("filename.json")